.add-form {
    margin-top: 20px;
}

.add-form-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

.list {
    background-color: #f9f8cf;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.list-table {
    width: 100%;
    border-collapse: collapse;

}

tr {
    background-color: #ffffff;
}

th,td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}
